.myFish {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    margin: 3px;
}

.myFish__description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 80%;
    text-align: center;
}

.myFish__description > p:first-child {
    font-weight: bold;
    font-size: 1.25em;
    color: ;
}

.badgeLegend {
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
    border: black 1px solid;
}

.badge {
    width: 30%;
}

.badge > img {
    height: 50px;
    width: auto;
    float: left;
    padding: 10px;
}

.badge > p {
    float: left;
    margin-left: 10px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.5em;
}

.fishList {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.fish {
    position: relative;
    width: 30%;
    margin: 5px;
}
  

.fish__img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.fish__details {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); 
    color: #f1f1f1;
    height: 180px;
    width: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.fish:hover .fish__details {
    opacity: 1;
}

.name {
    font-family: 'Permanent Marker', cursive;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 20px;
}

dl {
    font-family: sans-serif;
    font-size: 16px;
}

dt {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1em;
}

dd {
    float: right;
    width: 50%;
    text-align: right;
    margin-left: 0px;
    margin-bottom: 5px;
    font-family: 'Patrick Hand SC', cursive;
}

.icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: auto;
    margin-top: 5px;
    margin-right: 5px;
}

