.tipList {
    background-color: #607d8b;
    height: 96%;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}

.tipList__intro {
    color: #eceff1;
    font-family: sans-serif;
    font-size: 22px;
    border-top: #eceff1 solid 1px;
    border-bottom: #eceff1 solid 1px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
}

.tipKorner {
    text-align: center;
}

.tipKorner__logo {
    height: auto;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.tipContainer {
    background-color: #455a64;
    margin: 20px 0;
    padding: 10px 20px;
    height: 200px;
    position: relative;
    border-radius: 12px;
}

.tip {
    text-align: center;
    color: #eceff1;
    margin: 5px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tip__count {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    font-weight: bold;
    color: #cfd8dc;
    font-size: 26px;
}

.tip > p {
    font-size: 18px;
    font-family: 'Patrick Hand SC', cursive;
}